@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

$info-bg-color: blue;
$info-font-color: red;

#info {
  background-color: $info-bg-color;
  color: $info-font-color;
}