@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import 'https://fonts.googleapis.com/css?family=Oswald';

$primary-color: white;
$font-stack: "Oswald", sans-serif;
$anchor-color: orange;

body {
  color: $primary-color;
  font-family: $font-stack;
  text-shadow: 1px 1px black;
}

a {
  text-decoration: none;
  color: $anchor-color;
}

a:hover {
  @extend a;
}

button {
  background: none;
}