@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/magic/1.1.0/magic.min.css";
@import "https://fonts.googleapis.com/css?family=Merriweather";

body {
  background-color: #092B40;
  color:white;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: white;
}

#allContent {
  line-height: 35px;
  width: 400px;
  margin: 0 auto;
  margin-top: 400px;
}

#results {
  margin-top: 10px;
}
button {
  background: none;
}
button:hover {
  background-color: white;
}
.fa-search {
  font-size: 50px;
}